<div class="card mt-4">
    <div class="card-body">
        <h1>About Us!!!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias non, mollitia quis inventore neque quibusdam nihil temporibus pariatur optio esse tempora nobis, asperiores consectetur impedit numquam quam eveniet tenetur, quos sit! Obcaecati laborum aliquam molestias. Exercitationem accusamus minus soluta nihil.</p>
    </div>
</div>