
<div class="jumbotron mt-4">
    <h1 class="Display-4">Notas con NodeJs y MoongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eum soluta sint excepturi veniam. Adipisci mollitia voluptatum eligendi doloribus natus, aperiam consectetur laudantium doloremque quam rerum, hic consequatur animi nostrum.</p>
    <a href="www.google.com" class="btn btn-primary btn-lg">Buscador</a>
</div>